.form {
  display: flex;
  height: 100px;
  gap: 10px;
}

.userNameInput {
  flex-grow: 1;
  font-size: 32px;
  padding: 0 20px;
}

.submitButton {
  background-color: var(--colors-primary);
  padding: 20px 40px;
  color: var(--colors-secondary);
}

.userNameInput,
.submitButton {
  outline: none;
  border: 3px solid var(--colors-primary);
}

.submitButton:hover,
.submitButton:focus {
  background-color: var(--colors-secondary);
  color: var(--colors-primary);
}
